ul, li, p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #666;
}

.floor .title_miaosha::after {
  content: "";
  display: block;
  clear: both;
}

.header {
  height: 40px;
  width: 100%;
  z-index: 100000000;
  position: fixed;
  left: 0;
  top: 0;
  /*background: rgba(0,0,0,0.6);*/
}

.header .center {
  margin: 0 10px;
  height: 100%;
  line-height: 40px;
  position: relative;
}

.header .center .logo {
  width: 56px;
  height: 40px;
  left: 0;
  top: 0;
  position: absolute;
  text-align: center;
  line-height: 40px;
}

.header .center .logo i {
  width: 56px;
  height: 21px;
  margin-top: 10px;
  background: url(../image/sum.png);
  background-position: 0 -109px;
  background-size: 200px 200px;
  background-repeat: no-repeat;
  display: inline-block;
}

.header .center .form {
  left: 66px;
  right: 40px;
  border-radius: 15px;
  border: 1px solid #ccc;
  height: 30px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
  /*	input{
				border:0;
				outline: none;
				font-size: 13px;
				width: 85%;
				display: inline-block;
			}*/
}

.header .center .form .scale_icon {
  background-position: -60px -109px;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-left: 6px;
  background-size: 200px 200px;
  background-image: url(../image/sum.png);
}

.header .center .login {
  width: 30px;
  height: 40px;
  position: absolute;
  right: 0;
  color: #fff;
}

/*banner*/
.swiper-container {
  width: 100%;
  /*height: 201px;*/
  /*@media screen and(min-width: 320px){
		height:156px;
	}
	@media screen and(min-width: 375px){
		height:182px;
	}
	@media screen and(min-width: 768px){
		height:311px;
	}*/
}

.swiper-container .swiper-pagination-bullet {
  height: 6px;
  width: 6px;
  border: 1px solid #fff;
  margin: 0 4px;
  display: inline-block;
}

.swiper-container .swiper-pagination-bullet-active {
  height: 6px;
  width: 6px;
  border: 1px solid #fff;
  margin: 0 4px;
  display: inline-block;
  background: #FFF;
}

.swiper-container img {
  width: 100%;
  height: 100%;
}

.content_miaosha {
  width: 100%;
  text-align: center;
  color: #666;
}

.content_miaosha .hang {
  width: 100%;
}

.content_miaosha .hang .icon {
  width: 25%;
  float: left;
}

.content_miaosha .hang .icon a {
  display: block;
  text-align: center;
}

.content_miaosha .hang .icon a img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.content_miaosha .hang .icon a .price {
  padding: 5px;
  display: block;
  font-size: 14px;
  color: #ED5657;
  display: block;
  text-align: center;
}

.content_miaosha .hang .icon a .prev {
  font-size: 12px;
  text-decoration: line-through;
  color: #888888;
}

.nav {
  width: 100%;
  padding-top: 11px;
  text-align: center;
  color: #666;
}

.nav .pad {
  padding-bottom: 10px;
}

.nav .pad .icon {
  width: 25%;
  float: left;
}

.nav a {
  display: block;
  text-align: center;
}

.nav span {
  font-size: 12px;
}

.nav .nav_img {
  width: 45px;
  height: 45px;
  display: block;
  margin: 0 auto 6px auto;
}

.fengqiang {
  padding-bottom: 5px;
  background: #F3F3F3;
}

.floor {
  width: 100%;
}

.floor .title {
  width: 100%;
  padding: 3px 8px;
  margin: 0 auto;
  font-size: 16px;
  color: #F25353;
  border-bottom: 1px solid #F7F7F7;
}

.floor .title_miaosha {
  padding: 3px 8px;
  margin: 0 auto;
  /*background: red;*/
  text-align: center;
  /*height: 50px;*/
}

.floor .title_miaosha .clock {
  display: inline-block;
  margin-left: 10px;
  margin-top: 4px;
  width: 18px;
  height: 22px;
  background: url("../image/sum.png") -84px -109px no-repeat;
  background-size: 200px 200px;
  float: left;
}

.floor .title_miaosha .titlem {
  display: inline-block;
  float: left;
  margin-left: 5px;
  margin-top: 6px;
  color: red;
}

.floor .title_miaosha #daojishi {
  margin: 6px 0 0 8px;
  display: inline-block;
  float: left;
}

.floor .title_miaosha #daojishi span {
  float: left;
  display: inline-block;
  text-align: center;
  line-height: 18px;
  height: 18px;
  font-size: 13px;
  text-align: center;
}

.floor .title_miaosha #daojishi .time {
  background: #3d3d3d;
  color: #fff;
}

.floor .title_miaosha #daojishi .minute {
  border-radius: 2px 0 0 2px;
  padding-left: 2px;
}

.floor .title_miaosha #daojishi .second {
  border-radius: 0px 2px 2px 0;
  padding-right: 2px;
}

.floor .title_miaosha .more_miaosha {
  float: right;
  color: #666666;
  font-size: 12px;
  line-height: 29px;
}

.floor .hang {
  width: 100%;
}

.floor .hang .phone {
  width: 25%;
  display: inline-block;
  float: left;
}

.floor .hang .phone img {
  width: 100%;
}

.floor .hang .qiang {
  width: 100%;
}

.floor .hang .qiang img {
  width: 100%;
}

.floor .hang .jiang {
  width: 33.33%;
  display: inline-block;
  box-sizing: border-box;
  float: left;
}

.floor .hang .jiang img {
  width: 100%;
}

.floor .hang .shangou {
  width: 50%;
  box-sizing: border-box;
  display: inline-block;
  float: left;
}

.floor .hang .shangou img {
  width: 100%;
}

.floor .hang .img_per, .floor .hang .yiban {
  width: 50%;
  display: inline-block;
  float: left;
  box-sizing: border-box;
}

.floor .hang .img_per > img, .floor .hang .yiban > img {
  width: 100%;
}

.floor .hang .img_per .chi, .floor .hang .yiban .chi {
  width: 100%;
  height: 50%;
  box-sizing: border-box;
}

.floor .hang .img_per .chi > img, .floor .hang .yiban .chi > img {
  width: 100%;
}

.floor .hang .img_per .chi .xiao, .floor .hang .yiban .chi .xiao {
  width: 50%;
  height: 100%;
  float: left;
}

.floor .hang .img_per .chi .xiao > img, .floor .hang .yiban .chi .xiao > img {
  width: 100%;
}

.border_rit {
  box-sizing: border-box;
  border-right: 1px solid #F7F7F7;
}

.border_bot {
  box-sizing: border-box;
  border-bottom: 1px solid #F7F7F7;
}

.floor {
  width: 100%;
}

.floor .hang2 {
  width: 100%;
}

.floor .hang2 .yiban {
  width: 50%;
  float: left;
}

.floor .hang2 .yiban img {
  width: 100%;
}

.floor {
  width: 100%;
}

.floor .love_list {
  width: 100%;
}

.floor .love_list .love-item {
  width: 50%;
  float: left;
  background: #fff;
  display: inline-block;
  margin: 8px 0 10px;
}

.floor .love_list .love-item .love-item-pic {
  width: 100%;
}

.floor .love_list .love-item .love-item-pic img {
  width: 100%;
  height: 100%;
}

.floor .love_list .love-item .love-item-title {
  width: 100%;
  overflow: hidden;
  /*height: 36px;*/
  border-bottom: solid 1px #d7d7d7;
  margin: 0 5px;
}

.floor .love_list .love-item .love-item-bottom {
  margin: 4px;
  display: table;
  vertical-align: middle;
  width: 100%;
}

.floor .love_list .love-item .love-item-bottom .love-item-price {
  font-size: 14px;
  color: #f15353;
  display: table-cell;
  vertical-align: middle;
}

.floor .love_list .love-item:nth-child(2n) {
  padding-left: 5px;
  padding-right: 6px;
}

.floor .love_list .love-item:nth-child(2n+1) {
  padding-left: 6px;
  padding-right: 5px;
}

.love-item-icon {
  border: 1px solid #999;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  color: #999;
  padding: 2px 6px;
  float: right;
  margin-right: 10px;
}

.click_loading {
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #7f7f7f;
  background: #F3F5F7;
}

.jd-footer-links {
  height: 13px;
  padding: 18px 0;
  width: 100%;
  margin: 0 auto;
}

.jd-footer-links li {
  width: 25%;
  display: inline-block;
  float: left;
}

.jd-footer-links li:nth-child(1), .jd-footer-links li:nth-child(2), .jd-footer-links li:nth-child(3) {
  border-right: 1px solid #d7d7d7;
}

.d-footer-platforms {
  width: 100%;
  height: 500px;
}

.footer {
  height: 44px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 99999999;
  -webkit-box-shadow: 0 0 10px 0 rgba(155, 143, 143, 0.6);
  background: #fff;
}

.footer ul {
  position: relative;
  width: 100%;
  height: 100%;
}

.footer ul li {
  width: 20%;
  height: 100%;
  float: left;
  display: inline-block;
}

.footer ul li a {
  width: 57px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  display: block;
}

.footer ul li a img {
  width: 57px;
  height: 44px;
}
